<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      internalLogLevel="Info" internalLogFile="${basedir}\Log\InnerLog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="File" name="errorFile-web" fileName="${basedir}\log\${shortdate}.log"
				layout="${newline}-------------- ${level} (${longdate}) --------------${newline}${newline}
	Call Site: ${callsite}${newline}
	Exception Type: ${exception:format=Type}${newline}
	Exception Message: ${exception:format=Message}${newline}
	Stack Trace: ${exception:format=StackTrace}${newline}
	Additional Info: ${message}${newline}" />

		<target xsi:type="File" name="otherFile-web" fileName="${basedir}\log\${shortdate}.log"
			  layout="->(${longdate}) : ${level} : ${message}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Error" writeTo="errorFile-web" />
		<logger name="*" maxLevel="Warn" writeTo="otherFile-web" />
	</rules>
</nlog>


